.viewer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.viewer-image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: none;
}

.viewer-image {
  height: 100%;
  width: auto;
  max-width: 100vw;
  object-fit: contain;
  object-position: bottom right;
  user-select: none;
  -webkit-user-drag: none;
  transition: opacity 200ms ease;
}

@media (max-width: 768px) {
  .viewer-overlay {
    height: calc(var(--vh, 1vh) * 100);
    height: 100dvh;
  }

  .viewer-image-container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--vh, 1vh) * 100 - 80px);
    height: calc(100dvh - 80px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .viewer-image {
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
  }
}
